.featured {
    flex: 2;
    -webkit-box-shadow: 11px 12px 14px -7px #6E6E6E;
    box-shadow: 11px 12px 14px -7px #6E6E6E;
    padding: 10px;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: gray;

        .title {
            font-size: 16px;
            font-weight: 500;
        }
    }

    .bottom {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;

        .featuredChart {
            width: 100px;
            height: 100px;
        }

        .title {
            font-weight: 5000;
            color: gray;
        }

        .amount {
            font-size: 30px;
        }

        .desc {
            font-weight: 300;
            font-size: 12px;
            color: gray;
            text-align: center;
        }

        .summary {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .item {
                text-align: center;

                .itemTitle {
                    font-size: 14px;
                    color: gray;
                }
                .itemResult{
                    display: flex;
                    align-items: center;
                    margin-top: 10px;
                    font-size: 14px;
                    &.positive{
                        color: #0f0;
                    }
                    &.negative{
                        color: #f00;
                    }
                }
            }
        }
    }
}